# 6 - Lidando com dados faltantes

## Identificando valores faltantes em dados tabulares
Vamos iniciar nosso estudo identificando dados faltantes em tabelas.

In [2]:
import pandas as pd

# importa o csv a partir de uma url no github para files ate 25MB
df = pd.read_csv('https://raw.githubusercontent.com/lucas-lxx/ML2023-LucasAlmeidaBarbosa/master/2019/01-Pre-processamento_Limpeza_Analise_de_Dados/missing.csv')
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [ ]:
# Olha coluna a coluna e soma os lugares aos quais isnull() e 
# avaliado como verdadeiro
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [8]:
# Cria um array numpy com todos os valores do DataFrame
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [10., 11., 12., nan]])

## Eliminando amostras ou *features* com valores ausentes

In [19]:
# Remove linhas que contém valores faltantes
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [20]:
# Remove colunas que contém valores faltantes
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [ ]:
# Drop apenas nas linhas onde todas as colunas são NaN
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [26]:
# Dropa as linhas que possuem menos de 3 valores reais
df.dropna(thresh=3)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [28]:
# Dropa apenas linhas onde NaN aparece em uma coluna específica
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN