# 7 - Filtragem de dados
Filtragem de dados é uma tarefa importantíssima na vida de qualquer cientista de dados. Nessa seção, veremos como criar filtros em um conjunto de dados utilizando o Pandas.

## Operadores booleanos

### and

In [4]:
# Atribui 12 a variavel x
x = 12

In [5]:
# Compara se a variavel x e maior que 5 e menor que 15
x > 5 and x < 15

True

### or

In [6]:
# Atribui 5 a variavel y
y = 5

In [7]:
# Compara se a variavel y e menor que 7, true, ou se a variavel y e maior que 13, false.
y < 7 or y > 13

True

### not

In [8]:
not True

False

In [ ]:
not False

True

### Numpy

In [12]:
import numpy as np

np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bmi = np_weight / (np_height ** 2)

bmi

array([21.85171573, 20.97505669, 21.75028214, 24.7473475 , 21.44127836])

In [13]:
# Avalia booleanamente cada valor do array bmi
bmi > 21

array([ True, False,  True,  True,  True])

In [15]:
# Nao e possivel avaliar os elementos de um array com base em mais de um elemento
# de forma nativa, pois o python retornara que o resultado e ambiguo
bmi > 21 and bmi < 22

ValueError: ignored

In [16]:
# E possivel fazer a avaliacao logica de mais do que uma expressao em um array
# a partir do momento que voce usa o np.logical_and para fazer as comparacoes
# em cada elemento do array
np.logical_and(bmi > 21, bmi < 22)

array([ True, False,  True, False,  True])

In [17]:
# Serao retornados somente os elementos aos quais satisfazem a formula dentro
# do operador de acesso do array []
bmi[np.logical_and(bmi > 21, bmi < 22)]

array([21.85171573, 21.75028214, 21.44127836])

## Filtrando um DataFrame Pandas

In [18]:
import pandas as pd
brics = pd.read_csv('https://raw.githubusercontent.com/lucas-lxx/ML2023-LucasAlmeidaBarbosa/master/2019/01-Pre-processamento_Limpeza_Analise_de_Dados/brics.csv', index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

**Objetivo**: selecionar os países com área maior do que 8 milhões de km2

3 passos:
- Selecionar a coluna "area"
- Fazer uma comparação na coluna "area"
- Usar o resultado para selecionar os países

In [19]:
# Selecionar a coluna "area"
brics['area']

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [20]:
# Fazer uma comparação na coluna "area"
brics['area'] > 8
is_huge = brics['area'] > 8
is_huge

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [21]:
# Usar o resultado para selecionar os países
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [22]:
# Importando dataset de carros
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/lucas-lxx/ML2023-LucasAlmeidaBarbosa/master/2019/01-Pre-processamento_Limpeza_Analise_de_Dados/cars.csv', index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [25]:
# Extraia a coluna 'drives_right' do DataFrame 'cars' e atribua a variável 'dr'
dr = cars['drives_right']

# Use a variável 'dr' para criar um subconjunto de dados chamado 'sel'
sel = cars[dr]

# Imprima a variável 'sel'
sel

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [26]:
# Crie uma variável car_maniac: linhas que possuem 'cars_per_cap' maiores do que 500
cpc = cars['cars_per_cap']
many_cars = cpc > 500
car_maniac = cars[many_cars]

# Imprima 'car_maniac'
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [27]:
# Importe o conjunto de dados 'cars.csv', bem como as bibliotecas 'pandas' e 'numpy'
import pandas as pd
import numpy as np
cars = pd.read_csv('https://raw.githubusercontent.com/lucas-lxx/ML2023-LucasAlmeidaBarbosa/master/2019/01-Pre-processamento_Limpeza_Analise_de_Dados/cars.csv', index_col = 0)

# Crie a variável 'medium': linhas que possuem 'cars_per_cap' entre 100 e 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Imprima 'medium'
medium

    cars_per_cap country  drives_right
RU           200  Russia          True