# 8 - Leitura e salvamento de conjuntos de dados

## Lendo arquivos de texto puro

In [10]:
filename = 'huck_finn.txt'

# Abre o arquivo somente para leitura
file = open(filename, mode='r')
# A variavel text recebe o texto do arquivo huck_finn.txt
text = file.read()
# Fecha o arquivo
file.close()

In [11]:
# Printa o conteudo do arquivo que foi guardado
# na variavel text na celula acima
print(text)

YOU don't know about me without you have read a book by the name of The Adventures of Tom Sawyer; but that ain't no matter. That book was made by Mr. Mark Twain, and he told the truth, mainly. There was things which he stretched, but mainly he told the truth. That is nothing. I never seen anybody but lied one time or another, without it was Aunt Polly, or the widow, or maybe Mary. Aunt Polly--Tom's Aunt Polly, she is--and Mary, and the Widow Douglas is all told about in that book, which is mostly a true book, with some stretchers, as I said before.

## Criando um contexto para leitura de arquivos

In [13]:
# Abre o file 'huck_finn.txt' como file e printa o file
with open('huck_finn.txt', 'r') as file:
  print(file.read())

YOU don't know about me without you have read a book by the name of The Adventures of Tom Sawyer; but that ain't no matter. That book was made by Mr. Mark Twain, and he told the truth, mainly. There was things which he stretched, but mainly he told the truth. That is nothing. I never seen anybody but lied one time or another, without it was Aunt Polly, or the widow, or maybe Mary. Aunt Polly--Tom's Aunt Polly, she is--and Mary, and the Widow Douglas is all told about in that book, which is mostly a true book, with some stretchers, as I said before.

## Importando dados com o Numpy

In [16]:
import numpy as np

filename = 'MNIST.txt'

# Carrega o arquivo txt retornando um nd.array com um delimitador que separa os valores
# carregados, no caso sendo o ',' delimitador e a cada \n e inserido um novo array
data = np.loadtxt(filename, delimiter=',')
data

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [2., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [17]:
# Carrega os dados igual a celula acima, entretanto ele pula 1 linha antes de comecar
data = np.loadtxt(filename, delimiter=',', skiprows=1)

In [18]:
data

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       ...,
       [2., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [19]:
# Carrega os dados do txt em arrays de tamanho fixo definidos pelo intervalo aberto [0,2[
data = np.loadtxt(filename, delimiter=',', skiprows=1, usecols=[0,2])
data

array([[0., 0.],
       [1., 0.],
       [4., 0.],
       [0., 0.],
       [0., 0.],
       [7., 0.],
       [3., 0.],
       [5., 0.],
       [3., 0.],
       [8., 0.],
       [9., 0.],
       [1., 0.],
       [3., 0.],
       [3., 0.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [7., 0.],
       [5., 0.],
       [8., 0.],
       [6., 0.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [3., 0.],
       [6., 0.],
       [9., 0.],
       [9., 0.],
       [7., 0.],
       [8., 0.],
       [9., 0.],
       [4., 0.],
       [9., 0.],
       [2., 0.],
       [1., 0.],
       [3., 0.],
       [1., 0.],
       [1., 0.],
       [4., 0.],
       [9., 0.],
       [1., 0.],
       [4., 0.],
       [4., 0.],
       [2., 0.],
       [6., 0.],
       [3., 0.],
       [7., 0.],
       [7., 0.],
       [4., 0.],
       [7., 0.],
       [5., 0.],
       [1., 0.],
       [9., 0.],
       [0., 0.],
       [2., 0.],
       [2., 0.],
       [3., 0.],
       [9., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [5., 0.],
       [0., 0.],
       [6., 0.],
       [3., 0.],
       [4., 0.],
       [8., 0.],
       [1., 0.],
       [0., 0.],
       [3., 0.],
       [9., 0.],
       [6., 0.],
       [2., 0.],
       [6., 0.],
       [4., 0.],
       [7., 0.],
       [1., 0.],
       [4., 0.],
       [1., 0.],
       [5., 0.],
       [4., 0.],
       [8., 0.],
       [9., 0.],
       [2., 0.],
       [9., 0.],
       [9., 0.],
       [8., 0.],
       [9., 0.],
       [6., 0.],
       [3., 0.],
       [6., 0.],
       [4., 0.],
       [6., 0.],
       [2., 0.],
       [9., 0.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [5., 0.]])

In [20]:
# Carrega os dados do txt onde cada linha e definida ate um \n e os valores do
# array sao separados por um delimitador ',' e os valores sao armazenados como strings
data = np.loadtxt(filename, delimiter=',', dtype=str)
data

array([['1.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ['0.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ['1.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ...,
       ['2.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ['0.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ['5.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0']], dtype='<U5')

## Importando arquivos utilizando o Pandas

Em geral, um cientista de dados precisa lidar com
- Estruturas de dados bidimensionais, rotuladas,
- Colunas com tipos potencialmente diferentes,
- Manipulação, fatiamento, reformar, agrupar, juntar,
- Realizar estatísticas,
- Trabalhar com dados de séries temporais,
- ...

In [25]:
import pandas as pd

filename = 'winequality-red.csv'

# Le o csv para a variavel data que e um data frame
data = pd.read_csv(filename)

# Mostra as primeiras 5 linhas do data frame
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [26]:
# Converte de data frame para um nd.array
data_array = data.values
data_array

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])